<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TalfighConnection" connectionString="server=.; Database=TestDB; User Id=sa; Password=123!@#qwe;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="servicestack:license" value="3935-e1JlZjozOTM1LE5hbWU6Wk9SQVEsVHlwZTpJbmRpZSxIYXNoOmVQQmpVWE5XL1YrNWI2ZFRVQmovU2E4M21SYU9zeHZLOE52SGQvZkxLN3BvVkhJeUt6bGg5T1Q2WFI3cStOV0VLbGYvYlphaktzalFYaS9SYkpraWRwdzRHVTUwOUYvcnlDK0Y4eU1KeXNpb1lGLzVCdHNQTFZRK0lzZzVlazFzaDdFSXFNVlZRNE5YU2EyTWo1bFgwYTlXaHhsOXFPUS90R2lnMWNwbVhFND0sRXhwaXJ5OjIwMTctMDYtMzB9" />
  </appSettings>
</configuration>